<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="THTrueMilkEntities" connectionString="metadata=res://*/ModelDB.Model1.csdl|res://*/ModelDB.Model1.ssdl|res://*/ModelDB.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-B06CP42\SQLEXPRESS;initial catalog=THTrueMilk;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <!--DESKTOP-4EV2T3T-->
    <!--<add name="FormMainGUI.Properties.Settings.THTrueMilkConnectionString"
      connectionString="Data Source=DESKTOP-6FD628N\SQLEXPRESS;Initial Catalog=THTrueMilk;Persist Security Info=True;User ID=sa;Password=12345"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>