<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="THTrueMilkEntities" connectionString="metadata=res://*/ModelDB.Model1.csdl|res://*/ModelDB.Model1.ssdl|res://*/ModelDB.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6FD628N\SQLEXPRESS;initial catalog=THTrueMilk;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>